/**
 * Appstore icons
 * =================================
 *
 */


/**
 * Base Component styles
 */
.c-icon--android {
    height: 40px;
    width: 135px;
}

.c-icon--ios {
    height: 40px;
    width: 135px;
}

.c-icon--microsoft {
    height: 40px;
    width: 111px;
}

.c-icon--huawei {
    height: 40px;
    width: 135px;
}