/**
 * Arrow icons
 * =================================
 *
 */


/**
 * Base Component styles
 */
.c-icon--chevron {
    height: 11px;
    width: 20px;
}

// Makes the chevron smaller
.c-icon--chevron--small {
    height: 6px;
    width: 14px;
}

// Rotates the chevron to face up
.c-icon--chevron--up {
    transform: rotate(180deg);
}

// Rotates the chevron to face to the left
.c-icon--chevron--left {
    transform: translateY(-2px) rotate(90deg); // -2px is an aesthetic alignment for the chevron icon when inline with text
}

// Rotates the chevron to face to the right
.c-icon--chevron--right {
    transform: translateY(-2px) rotate(-90deg); // -2px is an aesthetic alignment for the chevron icon when inline with text
}

// Changes the fill colour of the icon for use on dark backgrounds
.c-icon--chevron--light {
    path {
        fill: #fff;
    }
}
