/**
 * Card icons
 * =================================
 *
 */


/**
 * Base Component styles
 */
.c-icon--amex--safekey {
    height: 20px;
    width: 63px;
}

.c-icon--dk {
    height: 26px;
    width: 43px;
}

.c-icon--interac {
    height: 26px;
    width: 52px;
}

.c-icon--mastercard--securecode {
    height: 24px;
    width: 67px;
}

.c-icon--paypal {
    height: 25px;
    width: 94px;
}

.c-icon--visa--verified {
    height: 24px;
    width: 56px;
}

.c-icon--visa {
    height: 24px;
    width: 40px;
}

.c-icon--mastercard {
    height: 24px;
    width: 40px;
}

.c-icon--maestro {
    height: 24px;
    width: 40px;
}

.c-icon--amex {
    height: 24px;
    width: 40px;
}
