/**
 * Flag icons
 * =================================
 *
 */


/**
 * Base Component styles
 */
.c-icon--flag {
    height: 40px;
    width: 60px;
}

.c-icon--flag--small {
    height: 16px;
    width: 24px;
}
