/**
 * Form icons
 * =================================
 *
 */


/**
 * Base Component styles
 */
 .c-icon--checkbox {
    height: 20px;
    width: 20px;
}

.c-icon--checkbox--checked {
    height: 20px;
    width: 20px;
}
