/**
 * General icons
 * =================================
 *
 */


/**
 * Base Component styles
 */
.c-icon--alert {
    height: 16px;
    width: 16px;
}

.c-icon--basket {
    height: 24px;
    width: 24px;
}

.c-icon--collection {
    height: 24px;
    width: 24px;
}

.c-icon--cuisine {
    height: 19px;
    width: 17px;
}

.c-icon--delivery {
    height: 24px;
    width: 24px;
}

    .c-icon--delivery--small {
        height: 16px;
        width: 16px;
    }

.c-icon--info {
    height: 22px;
    width: 22px;
}

.c-icon--nutAllergy {
    height: 28px;
    width: 28px;
}

.c-icon--offer {
    height: 28px;
    width: 28px;
}

    .c-icon--offer--small {
        height: 20px;
        width: 20px;
    }

.c-icon--spicy {
    height: 20px;
    width: 20px;
}

.c-icon--tick {
    height: 12px;
    width: 16px;
}

    .c-icon--tick--blue {
        fill: $icon--blue;
    }

    .c-icon--tick--green {
        fill: $icon--green;
    }

.c-icon--vegetarian {
    height: 20px;
    width: 20px;
}

.c-icon--collectionBag {
    height: 20px;
    width: 20px;
}

.c-icon--padlock {
    height: 20px;
    width: 20px;
}

.c-icon--localLegend {
    height: 32px;
    width: 87px;
}

.c-icon--localLegend--condensed {
    height: 32px;
    width: 56px;
}
