/**
 * Operator icons
 * =================================
 *
 */


/**
 * Base Component styles
 */
.c-icon--plus {
    height: 14px;
    width: 14px;
}

    .c-icon--plus--large {
        height: 20px;
        width: 20px;
    }

    .c-icon--plus--thin {
        height: 21px;
        width: 20px;
    }

.c-icon--minus {
    height: 2px;
    width: 11px;
}

    .c-icon--minus--large {
        height: 20px;
        width: 20px;
    }

.c-icon--cross {
    height: 8px;
    width: 8px;
}

    .c-icon--cross--large {
        height: 16px;
        width: 16px;
    }
