/**
 * Star icons
 * =================================
 *
 */

/**
 * Base Component styles
 */

.c-icon--star {
  height: 14px;
  width: 14px;
}

.c-icon--star--medium {
  height: 28px;
  width: 28px;
}

.c-icon--star--large {
  height: 42px;
  width: 42px;
}
