/**
 * Variables
 * =================================
 */

$icon--white            : $white !default;
$icon--blue             : $blue !default;
$icon--green            : $green !default;
$icon--orange           : $orange !default;
$icon--grey--darkest    : $grey--darkest !default;
