/**
 * f-icons
 * =================================
 * Common icons for use in Fozzie projects.
 *
 * Documentation: tbc
 * Repo: https://github.com/justeat/f-icons
 *
 * Index:
 * - Imports
 * - Partials
 * - Base Component styles
 *
 */


/**
 * Imports
 */
@import 'f-utils'; // imports a set of helper functions and mixins – https://github.com/justeat/f-utils
@import 'include-media'; // Cleaner media query declarations – http://include-media.com


/**
 * Core variables
 */
@import 'settings/variables';


/**
 * Partials
 */
@import 'partials/appstore';
@import 'partials/arrows';
@import 'partials/cards';
@import 'partials/certificates';
@import 'partials/flags';
@import 'partials/forms';
@import 'partials/general';
@import 'partials/operators';
@import 'partials/tools';
@import 'partials/ratings';
@import 'partials/social';
@import 'partials/lunch';


/**
 * Base Component styles
 */
[class*='c-icon'] {
    speak: none;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

/**
 * Base Icon Class
 *
 * Used when we have a standalone icon
 */
.c-icon {
    display: block;
}

    .c-icon--inline {
        display: inline-block;
        vertical-align: middle;
    }

    .c-icon--pushLeft {
        float: left;
    }

    .c-icon--white {
        * {
            fill: $icon--white;
        }
    }

    .c-icon--blue {
        * {
            fill: $icon--blue;
        }
    }

    .c-icon--green {
        * {
            fill: $icon--green;
        }
    }

    .c-icon--orange {
        * {
            fill: $icon--orange;
        }
    }

    .c-icon--grey--darkest {
        * {
            fill: $icon--grey--darkest;
        }
    }

    .c-icon--semiTransparent {
        opacity: 0.5;
    }
